<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=.;Initial Catalog=PoSys;User ID=sa;Password=Ld123456"/>
		<add key="SendPort_Alarm" value="12349"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
